body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;

  background-color: #333333;
}

.container {
  width: 1280px;
  margin: 0px auto;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

h2 {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 32px;
  margin-top: 13px;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 32px;
  margin-top: 13px;
}

h4 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 23px;
}

a {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 20px;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.left-nav li {
  margin-right: 60px;
}

.header {
  background-color: #ffffff;
  padding-top: 27px;
}

.main-content {
  width: 950px;
}

.item {
  padding: 23px 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-content {
  width: 300px;
}

.description-box {
  height: 150px;
  background-color: #c4c4c4;
  margin-bottom: 28px;
}

.about-me {
  padding: 23px 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

footer {
  margin-top: 30px;
  background-color: #dddddd;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
strong {
  font-weight: bold;
}
footer a {
  color: #000000;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
